<section class="home_page">
  <div class="home_page__content">
    <h1 class="home_page__title">Welcome to the Todo App</h1>
    <p class="home_page__description">
      This is a simple todo app built with Angular and .NET Core
    </p>
  </div>

  <div class="home_page__todos">
    <div class="todos__header">
      <div class="dx_button">
        <dx-button
          text="Add Todo"
          type="default"
          (onClick)="toggleAddTodo()"
        ></dx-button>
      </div>
      <div class="dx_button">
        <dx-button
          stylingMode="outlined"
          text="Update Todo"
          type="default"
          (onClick)="toggleUpdateTodo()"
        ></dx-button>
      </div>
    </div>

    <dx-list
      #list
      [dataSource]="todos"
      displayExpr="title"
      [showSelectionControls]="true"
      selectionMode="single"
      [allowItemDeleting]="true"
      (onItemDeleting)="onTodoHandleDelete($event.itemData)"
      (onSelectionChanged)="onTodoChecked($event.addedItems[0])"
      [collapsibleGroups]="true"
    >
      <dxo-item-dragging [allowReordering]="true"></dxo-item-dragging>
    </dx-list>
  </div>

  <!-- add Todo Dialog -->
  <dx-popup
    [(visible)]="addTodoPopupVisible"
    [height]="500"
    [resizeEnabled]="false"
    position="center"
    title="Add Todo"
  >
    <div class="add_todo">
      <form [formGroup]="todoFormGroup" (ngSubmit)="handleAddTodo()">
        <div class="form_group">
          <label>Title <span>*</span></label>
          <input type="text" formControlName="title" />
        </div>
        <div class="form_group">
          <label>Description <span>*</span></label>
          <input type="text" formControlName="description" />
        </div>
        <div class="form_group">
          <label>Completed</label>
          <input type="checkbox" formControlName="isComplete" />
        </div>
        <button type="submit">
          Add Todo
        </button>
      </form>
    </div>
  </dx-popup>

  <!-- update Todo Dialog -->
  <dx-popup
    [(visible)]="updateTodoPopupVisible"
    [height]="500"
    [resizeEnabled]="false"
    position="center"
    title="Update Todo"
  >
    <div class="update_todo">
      <form [formGroup]="updateTodoFormGroup" (ngSubmit)="handleUpdateTodo()">
        <div class="form_group">
          <label>Title <span>*</span></label>
          <input type="text" formControlName="title" />
        </div>
        <div class="form_group">
          <label>Description <span>*</span></label>
          <input type="text" formControlName="description" />
        </div>
        <div class="form_group">
          <label>Completed</label>
          <input type="checkbox" formControlName="isComplete" />
        </div>
        <button type="submit">
          Update Todo
        </button>
      </form>
    </div>
  </dx-popup>
</section>
