section.home_page .home_page__todos .todos__header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
}

section.home_page .home_page__todos .todos__header .dx_button {
  margin-left: 10px;
}

.add_todo, .update_todo {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form_group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

label span {
  color: red;
}

input[type="text"],
input[type="checkbox"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input[type="checkbox"] {
  width: auto;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}


.add_todo button, .update_todo button {
  width: 100px;
  height: 40px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add_todo button:hover, .update_todo button:hover {
  background-color: #45a049;
}

