<!-- <dx-form [formData]="formData" (onSubmit)="submitForm()">
  <dxi-item
    dataField="email"
    editorType="dxTextBox"
    editorOptions="{ mode: 'email' }"
    label="Email"
  ></dxi-item>
  <dxi-item
    dataField="password"
    editorType="dxTextBox"
    editorOptions="{ mode: 'password' }"
    label="Password"
  ></dxi-item>
  <dx-button
    text="Login"
    [type]="'success'"
    useSubmitBehavior="true"
  ></dx-button>
</dx-form> -->
<div>
  <dx-form id="form">
    <dxi-item
      dataField="email"
      editorType="dxTextBox"
      editorOptions="{ mode: 'email' }"
      label="Email"
    ></dxi-item>
  </dx-form>
</div>

<!-- <p>login form</p> -->
