<div>
  <form
    [formGroup]="loginFormGroup"
    (ngSubmit)="handleSubmit()"
  >
    <div>
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        formControlName="email"
      />
    </div>
    <div>
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        formControlName="password"
      />
    </div>
    <button type="submit">Login</button>

    <div class="no_account">
      don't have an account?
      <a routerLink="/register">Register</a>
    </div>
  </form>
</div>
